.odd {
    background-color: #ff00b7;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second{
    color:rgb(0, 132, 255);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    color:rgb(119, 255, 0);
    font-size: 24px;
    font-weight: bold;
}