.header  {
  font-family: monospace;
  background: papayawhip;
  display:flex;
  justify-content: center;
  align-items: center;
}

.left-links{
  align-self: center;

}

.right-links{
  align-self: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px auto;
  flex:0 1 auto;
  align-self: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding:0;
  font-weight: bold;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin: 10px;
}