.first, .second{
    font-size: 28px;
    font-family: 'Helvatica', 'Times New Roman', sans-serif;
}

.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellow;
}
